html{
    /* px表示像素：基础梓豪为10像素 */
    font-size: 10px;
    /* 谷歌字体输出的css */
    font-family: 'Open Sans',sans-serif;
    background-color: rgb(21, 74, 121);
}

h1{
    font-size: 50px;
    text-align: center;
}

p,li{
    font-size: 16px;
    letter-spacing: 1px;
}

body{
    width: 600px;
    margin: 0 auto;
    background-color: rgb(182, 80, 16);
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1{
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    text-shadow: 3px 3px 1px black;
}

img{
    display: block;
    margin: 0 auto;
}